.container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f1ec;
  align-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

section {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

label {
  display: flex;
  font-weight: 600;
  align-items: flex-end;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: transparent;
}

button {
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056A1;
  border: none;
}
.count {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;

}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.userFace {
  width: 43px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  width: 100%;
  border: 2px solid rgb(48, 44, 44);
  background-color: rgb(206, 201, 201);
  padding: 32px;
}

article:hover {
  box-shadow: rgba(72, 68, 68, 0.921) 2.4px 2.4px 3.2px;
}

.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 26px;
}

.fa-solid:hover {
  color: orange;
  cursor: pointer;
}